.menu-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: 40px;
}
.btn {
  border-radius: 5px;
  height: 35px;
}

.input-search {
  width: 76%;
  height: 40%;
  position: absolute;
  padding-left: 40px;
  color: #bdc3c7;
  border: 1px solid rgb(203, 212, 222);
}
.input-search::placeholder {
  color: #bdc3c7;
}
.input-search:focus {
  outline: none;
  border: solid 1px #2ecc71;
}

.input-search-icon {
  position: absolute;
  left: 12%;
}
